@model QLAC.Domain.Staff

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Thông tin nhân viên</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
    
            <dt>Tên:</dt>

            <dd>@Html.DisplayFor(model => model.Name)</dd>

            <dt>Ngày sinh:</dt>

            <dd>@Html.DisplayFor(model => model.DateOfBirth)</dd>

            <dt>Chức vụ:</dt>

            <dd>@Html.DisplayFor(model => model.Position)</dd>

            <dt>Phòng/ban:</dt>

            <dd>@Html.DisplayFor(model => model.Office)</dd>
    </dl>
</div>
<p>
    <button onclick="location.href='@Url.Action("Edit", "Staff", new { id = Model.ID })'" class="btn btn-default">Edit</button>
    <button onclick="location.href='@Url.Action("Delete", "Staff", new { id = Model.ID })'" class="btn btn-default">Delete</button>
    <button onclick="location.href='@Url.Action("StaffIndex", "Staff")'" class="btn btn-default">Back to list</button>
</p>
