@model QLAC.Models.StaffIndex

@{
    ViewBag.Title = "Danh sách nhân viên";
}

    <h2>Danh sách nhân viên</h2>

<p>
    <button onclick="location.href='@Url.Action("Create", "Staff")'" class="button">Create New</button>
</p>


<table class="table">
    <tr>
        <th>Mã nhân viên</th>
        <th>Tên</th>
        <th>Ngày sinh</th>
        <th>Phòng/ban</th>
        <th>Chức vụ</th>
        @*<th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model.ListStaff)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Name</td>
            <td>@item.DateOfBirth.ToString("dd/MM/yyyy")</td>
            <td>@item.Office</td>
            <td>@item.Position</td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>*@
            <td>
                 <button onclick="location.href='@Url.Action("Edit", "Staff", new { id = item.ID })'" class="btn btn-default" style="margin-left:0%">Edit</button>
                <button onclick="location.href='@Url.Action("Details", "Staff", new { id = item.ID })'" class="btn btn-default" style="margin-left:0%">Details</button>
                <button class="btn btn-default" onclick="modalConfirm(@item.ID)" >Delete</button>
            </td>
        </tr>
    }

    <div id="mi-modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h4 class="modal-title" id="myModalLabel">Bạn muốn xoá nhân viên này chứ?</h4>

            <div class="modal-footer" style="text-align:center">
                <button type="button" class="btn btn-default" id="modal-btn-yes" onclick="delfuntion()">Yes</button>
                <button type="button" class="btn btn-primary" id="modal-btn-no" onclick="closeModal()">No</button>
            </div>
        </div>
    </div>

</table>
<script>
    var btn = document.getElementById("btn-confirm");
    var modal = document.getElementById("mi-modal");
    var span = document.getElementsByClassName("close")[0];
    var close = document.getElementById("modal-btn-no");
    var btnDelete = document.getElementById("modal-btn-yes");
    function modalConfirm(id) {
        //btn.onclick = function () {
        modal.style.display = "block";
        btnDelete.value = id;
        //}        
    }
    function closeModal() {        
        span.onclick = function () {
            modal.style.display = "none";
        }
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        close.onclick = function () {
            modal.style.display = "none";
        }
    }
    
    function delfuntion() {
        return location.href = '/Staff/Delete?id=' + btnDelete.value.toString();       
    }
       
           
</script>